// Place all the styles related to the main_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vehicles {
  margin-right: 50px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
}

.vehicles-visual-table {
  float: left;
  width: 500px;
  height: 900px;
  margin: 0 20px;
  position: relative;
  border: 2px solid;

  .vehicles-visual-line {
    border-right: 1px dashed;
    position: absolute;
  }

  .vehicles-visual-cell-colour {
    position: absolute;
  }

  .vehicles-visual-cell {
    position: absolute;
    float: left;
    display: list-item;
    overflow:hidden;
    word-break:normal;
    text-align:center;
    vertical-align:middle;
    border: 1px solid;
  }

  .aligned_to_left {
    border-left: 0;
  }

  .aligned_to_top {
    border-top: 0;
  }
}

.vehicles-location {
  width: 35%;
  th {
    font-size:24px;
    text-align:center;
    border-bottom: solid 1px;
  }

  td {
    width: 40px;
    font-size: 16px;
    border-bottom: dotted 1px;
  }
}

.vehicles-location-float {
  float: right;
}
